package handler

import (
	"net/http"
	"sync"

	"{{ .ModuleName }}/views/components"
	"{{ .ModuleName }}/views/pages"
)

var (
	counterMu sync.Mutex
	counter   int
)

func PageHandler(w http.ResponseWriter, r *http.Request) {
	counterMu.Lock()
	c := counter
	counterMu.Unlock()
	w.Header().Set("Content-Type", "text/html; charset=utf-8")
	_ = pages.Home(c).Render(r.Context(), w)
}

func CounterHandler(w http.ResponseWriter, r *http.Request) {
	counterMu.Lock()
	counter++
	c := counter
	counterMu.Unlock()
	w.Header().Set("Content-Type", "text/html; charset=utf-8")
	_ = components.Counter(c).Render(r.Context(), w)
}
